.Charm {font-family: 'Charm', cursive; font-size:16px;}
.Charmonman {font-family: 'Charmonman', cursive; font-size:16px;}
.Roboto {font-family: 'Roboto', sans-serif; font-weight: 300; font-size:16px;}
.OpenSans {font-family: 'Open Sans', sans-serif; font-weight: 600; font-size:16px;}
.OpenSansCondensed {font-family: 'Open Sans Condensed', sans-serif; font-weight: 300; font-size:16px;}
.Kufam {font-family: 'Kufam', cursive; font-weight: 600; font-size:16px;}
.Montserrat {font-family: 'Montserrat', sans-serif; font-weight: 300; font-size:16px;}
.Oswald {font-family: 'Oswald', sans-serif; font-weight: 300; font-size:16px;}
.Raleway {font-family: 'Raleway', sans-serif; font-weight: 400; font-size:16px;}
.PlayfairDisplay {font-family: 'Playfair Display', serif; font-weight: 400; font-size:16px;}
.NotoSerif {font-family: 'Noto Serif', serif; font-weight: 400; font-size:16px;}
.Anton {font-family: 'Anton', sans-serif; font-size:16px;}
.Arimo {font-family: 'Arimo', sans-serif; font-weight: 400; font-size:16px;}
.YanoneKaffeesatz {font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: 300; font-size:16px;}
.Lobster {font-family: 'Lobster', cursive; font-size:16px;}
.DancingScript {font-family: 'Dancing Script', cursive; font-weight: 400; font-size:16px;}
.Pacifico {font-family: 'Pacifico', cursive; font-size:16px;}
.Play {font-family: 'Play', sans-serif; font-weight: 400; font-size:16px;}
.MavenPro {font-family: 'Maven Pro', sans-serif; font-weight: 400; font-size:16px;}
.AlfaSlabOne {font-family: 'Alfa Slab One', cursive; font-size:16px;}
.PlayfairDisplaySC {font-family: 'Playfair Display SC', serif; font-weight: 400; font-size:16px;}
.Bangers {font-family: 'Bangers', cursive; font-size:16px;}
.SigmarOne {font-family: 'Sigmar One', cursive; font-size:16px;}
.Lalezar {font-family: 'Lalezar', cursive; font-size:16px;}
.BalooChettan2 {font-family: 'Baloo Chettan 2', cursive; font-weight: 400; font-size:16px;}
.Trirong {font-family: 'Trirong', serif; font-weight: 400; font-size:16px;}
.Jura {font-family: 'Jura', sans-serif; font-weight: 400; font-size:16px;}
.AlegreyaSansSC {font-family: 'Alegreya Sans SC', sans-serif; font-weight: 400; font-size:16px;}
.SairaExtraCondensed {font-family: 'Saira Extra Condensed', sans-serif; font-weight: 400; font-size:16px;}
.Bevan {font-family: 'Bevan', cursive; font-size:16px;}
.Bungee {font-family: 'Bungee', cursive; font-size:16px;}
.BungeeInline {font-family: 'Bungee Inline', cursive; font-size:16px;}
.BungeeShade {font-family: 'Bungee Shade', cursive; font-size:16px;}
.BungeeOutline {font-family: 'Bungee Outline', cursive; font-size:16px;}
.BungeeHairline {font-family: 'Bungee Hairline', cursive; font-size:16px;}
.AlegreyaSC {font-family: 'Alegreya SC', serif; font-weight: 400; font-size:16px;}
.Maitree {font-family: 'Maitree', serif; font-weight: 400; font-size:16px;}
.Srisakdi {font-family: 'Srisakdi', cursive; font-weight: 400; font-size:16px;}
.Thasadith {font-family: 'Thasadith', sans-serif; font-weight: 400; font-size:16px;}
.Manuale {font-family: 'Manuale', serif; font-weight: 400; font-size:16px;}
.Farsan {font-family: 'Farsan', cursive; font-size:16px;}
.AmaticSC {font-family: 'Amatic SC', cursive; font-size:16px;}